{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="row">
    <h3 class="mt-5 mb-5">Update Course</h3>
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
                <div class="form-group">
                    {{form_label(form.name)}}
                    {{form_widget(form.name, {'attr': {'class': 'form-control'}})}}

                    </br>

                    {{form_label(form.description)}}
                    {{form_widget(form.description, {'attr': {'class': 'form-control'}})}}

                    </br>

                    {{form_label(form.classe)}}
                    {{form_widget(form.classe, {'attr': {'class': 'form-control'}})}}
                    
                    <button class="btn btn-info mt-5 text-white">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}