{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="row">
    <h3 class="mt-5 mb-5">Student Details</h3>
        <div class="col-md-6 offset-md-3">
                <div class="form-group">

                    <center><img src="{{ asset('uploads/images/' ~ student.image) }}" width="400" alt="ACME logo"></center>
                    <br>
                    <br>
                    

                    <label>First Name</label>
                    <div >
                        <input class="form-control" value="{{student.firstName}}" disabled="true"></input>
                    </div>

                    </br>

                    <label>Last Name</label>
                    <div >
                        <input class="form-control" value="{{student.lastName}}" disabled="true"></input>
                    </div>

                    </br>
                    <label> Date Of Birth </label>
                    <div >
                        <input class="form-control" value="{{student.dateOfBirth | date('Y-m-d')}}" disabled="true"></input>
                    </div>

                    </br>

                    <label> Class </label>
                    <div >
                        <input class="form-control" value="{{student.getClasseName()}}" disabled="true"></input>
                    </div>

                    </br>
                </div>
        </div>
    </div>
</div>

{% endblock %}